{
  "npm": "eslint babel-eslint eslint-plugin-standard eslint-config-standard eslint-config-standard-react eslint-plugin-react eslint-plugin-promise",
  "extends": ["standard", "standard-react"],
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "react"
  ],
  "rules": {
    "brace-style": ["error", "stroustrup", { "allowSingleLine": true }],
    "comma-dangle": ["error", "only-multiline"]
  }
}